
#heading-container
{
    display: flex;
    width:960px;
    height: 50px;
    margin:auto;
    flex-direction: row;
    background-color: #ffffff;
}

#person-name
{
    padding-top: 10px;
    width:50%;
    height:50px;
}

#name
{
    font-size: 25px;
    font-weight:bold;
    color:white;
    font-family: 'Times New Roman';
    background-color: #4aaaa5;
}
#menu-item
{
  padding-top: 10px;
  width: 50%;
  height: 50px;
}
ul
{ 
    list-style-type: none;
}
li
{
    float: right;
}

li, a
{
    color:#777777;
    font-size: 18px;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
}

#info-body
{
    width:auto;
    height:600px;
    background-color: #d1cdcd;
}
#info-container
{
    margin:auto;
    width:960px;
    height:570px;
    background-color:#ffffff;
    overflow-y: scroll;
}

#border
{
    height:5px;
    background-color:#4aaaa5;
}

#footer
{
    width:auto;
    height:50px;
    background-color:#666666;
}

/* following styles are describing for contact.html*/

#portfolio
{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size:25px;
    color:#4aaaa5;
    margin: 10px;
}

#portfolio-info
{
    width:90%;
    margin: auto;
}
#hrline
{
    width:100%;
}

#portfolio-container
{
    margin:auto;
    width:800px;
    height:450px;
    background-color:#ffffff;
}
#portfolio-body
{
    width:auto;
    height:600px;
    background-color: #d1cdcd;
}

#image-1
{
    position: absolute;
    width:100px;
    height:100px;
    z-index:1;
    padding-left: 10px;
}
#box-1
{
    position:relative;
    width:85px;
    height:30px;
    left:12px;
    top:65px;
    z-index:2;
    background-color: green;
    color:white;
    padding-left: 10px;
    padding-top: 5px;

}


#image-2
{
    position: absolute;
    width:100px;
    height:100px;
    /* left:35%; */
    /* top:185px; */
    z-index: 1;
}
#box-2
{
    position: relative;
    width:80px;
    height:30px;
    top: 60px;
    /* left:35%; */
    z-index:2;
    background-color: green;
    color:white;
   
    padding-left: 15px;
    padding-top: 5px;
}


#image-3
{
    position: absolute;
    width:100px;
    height:100px;
    top: 100px;
    z-index:1;
    padding-left: 30px;
}

#box-3
{
    position: relative;
    width:80px;
    height:30px;
    top:165px;
    left:35px;
    z-index:2;
    background-color: green;
    color:white;
   
    padding-left: 10px;
    padding-top: 5px; 
}


#image-4
{
    position: absolute;
    width:100px;
    height:100px;
    left:20px;
    top:95px;
    z-index: 1;
}
#box-4
{
    position: relative;
    width:100px;
    height:30px;
    left:8px;
    top:165px;
    z-index:2;
    background-color: green;
    color:white;
   
    padding-left: 25px;
    padding-top: 5px;
}